{# Disqus #}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
    {% set disqus_url = disqus_url ?? canonical_url %}
    {% if disqus_url %}
        this.page.url = '{{ disqus_url }}';
    {% endif %}
    {% if disqus_id %}
        this.page.identifier = '{{ disqus_id }}';
    {% endif %}
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://{{ disqus_alias }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>{% if lang == 'en' %}Turn on JavaScript to view{% else %}Включите JavaScript для просмотра{% endif %} <a href="https://disqus.com/?ref_noscript">{% if lang == 'en' %}Disqus comments{% else %}комментариев Disqus{% endif %}</a>.</noscript>
