<div>Все права защищены. &copy; {{ years_str }} <a href="mailto:{{ contact_email }}">{{ site_name }}</a></div>
<div>Сайт построен на <a href="https://github.com/kapxapot/plasticode">Plasticode</a></div>
