<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" cacheResult="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory suffix="Interface.php">.</directory>
      <directory>src/Testing</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Plasticode">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
