{% extends 'modals/narrow.twig' %}

{% set modal_name = 'signIn' %}
{% set modal_title = 'Вход' %}
{% set modal_save_label = 'Войти' %}

{% block modal_body %}
    <div class="form-group required">
        <label for="si_login">Логин / E-mail</label>
        <input type="text" name="si_login" id="si_login" placeholder="ваш логин или ваша@поч.та" class="form-control" data-modalfocus required />
    </div>
    <div class="form-group required">
        <label for="si_password">Пароль</label>
        <input type="password" name="si_password" id="si_password" class="form-control" required />
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="si_remember" id="si_remember" checked>Запомнить</label>
    </div>
    <span class="help-block">Нет логина? <a href="javascript:void(0);" ng-click="switchFromTo('{{ modal_name }}', 'signUp')">Зарегистрируйтесь</a>.</span>
{% endblock %}
