@import "~simplemde/dist/simplemde.min.css";
.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
  padding-left: 24px;
  position: relative;
  line-height: 1.5;

  &:before {
    position: absolute;
    left: 5px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    line-height: 16px;
    text-align: center;
    color: white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 3px;
  }
}

.news.CodeMirror-hint {
  &:before {
    content: 'N';
    background: #4bc700;
  }
}

.article.CodeMirror-hint {
  &:before {
    content: 'A';
    background: #8383ff;
  }
}

.tag.CodeMirror-hint {
  &:before {
    content: 'T';
    background: #ff8bfb;
  }
}

.event.CodeMirror-hint {
  &:before {
    content: 'E';
    background: #ff7c48;
  }
}

.stream.CodeMirror-hint {
  &:before {
    content: 'Т';
    background: purple;
  }
}

.editor-toolbar a.toggled {
  background: #fcfcfc;
  border-color: #95a5a6;
}