{% if author %}
    <div class="glyphicon-block" title="Автор">
    	<i class="fas fa-user-circle"></i>
        {% if author.forum_member %}
        	<b><a href="{{ author.forum_member.page_url }}">{{ author.display_name }}</a></b>
        {% else %}
        	<b>{{ author.display_name }}</b>
        {% endif %}
        
        DEPRECATED?
    </div>
{% endif %}
