{% if comics|length > 0 %}
    <div class="flex-wrapper comics">
    	{% for c in comics %}
    		<div class="flex-item flex-item-shaded overlay-wrapper comic-image">
    			<a href="{{ c.page_url }}">
    				<img src="{{ c.img_url ?? c.cover_url }}" class="card-image" />
    				{% set final_title = c.title ?? c.name_ru %}
    				<span class="overlay overlay-full">{{ final_title|raw }}</span>
    			</a>
    		</div>
    	{% endfor %}
    </div>
{% endif %}
