{% if comics|length > 0 %}
    <div class="flex-wrapper comics">
    	{% for c in comics %}
    		<div class="flex-item flex-item-shaded overlay-wrapper comic-image">
    			<a href="{{ c.page_url }}">
    				<img src="{{ c.cover.thumb_url }}" class="card-image" />
    				<span class="overlay overlay-full">{{ c.name|raw }}</span>
    			</a>
    		</div>
    	{% endfor %}
    </div>
{% endif %}
