{% if pages|length > 0 %}
	<div class="flex-wrapper comics-issue">
		{% for p in pages %}
			<div class="flex-item flex-item-shaded overlay-wrapper comic-image">
				<a href="{{ p.page_url }}">
					<img src="{{ p.thumb_url }}" class="card-image" />
					<span class="overlay">{{ p.number_str }}</span>
				</a>
			</div>
		{% endfor %}
	</div>
{% endif %}
