{% if entity.creator %}
    {% set user = entity.creator %}
    <div class="glyphicon-block" title="Автор">
        <img src="{{ user.gravatar_url }}" class="avatar avatar--inline">
        <b>{{ user.display_name }}</b>
    </div>
{% endif %}
