{% import 'macros.twig' as gm %}
    
{% if entity %}
    <div class="glyphicon-block" title="Дата публикации" ng-cloak>
        <i class="far fa-clock"></i>
        {% if entity.published %}
            {{ gm.moment_local(entity.published_at_iso) }}
        {% else %}
            Не опубликовано!
        {% endif %}
    </div>
{% endif %}
