{% if tags|length > 0 %}
    <div class="glyphicon-block">
        <i class="fas fa-tags"></i>
        {% for t in tags %}
            <a href="{{ t.url }}" class="label label-default">{{ t.text }}</a>
        {% endfor %}
    </div>
{% endif %}
