{% if code %}
    {% set framed = width > 0 or height > 0 %}
    <div class="{% if framed %}center{% else %}embed-responsive embed-responsive-16by9{% endif %}">
        <iframe
            {% if not framed %}class="embed-responsive-item"{% endif %}
            src="https://www.youtube.com/embed/{{ code }}"
            {% if width > 0 %}width="{{ width }}"{% endif %}
            {% if height > 0 %}height="{{ height }}"{% endif %}
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
{% endif %}
